### ignore all files without extension
# ignore all
*
# unignore all with extensions
!*.*
# unignore all directions
!*/

### additional syntax to unignore or reignore
# unignore 'Makefile'
!Makefile
# ignore .exe files
*.exe
